.DataViewer .paper{
    padding: 1em;
    margin-bottom: 1em;
    margin-top:1em;
}
.DataViewer .title{
    display: flex;
    align-items: center;
    margin-left: 1em;
}
.DataViewer div{
    padding: 0.5em;
}