body { 
    background: url(../../assets/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.Dashboard .paper {
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    padding: 1em;
}
.Dashboard .title {
    text-align: center;
}
.Dashboard .menu {
    padding: 0 0 0 0;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 2em;
    margin-top: 1em;
}
.Dashboard .row{
    padding: 0 0 0 0;
}
.Dashboard .button {
    display: flex;
    justify-content: center;
    margin-top: 2.5vh;
}
.Dashboard .tab{
    height: 0.5em;
}
.Dashboard .tabs{
    height: 1em;
}